@media (min-width: 350px) and (min-height: 150px) and (orientation: landscape)
{
  #game
  {
    top: 50%;
    left: 39%;
    width: min(75vw, 75*8vh/4);
    height: min(75vh, 75*4vw/8);
    position: fixed;
    border-width: 3px;
    border-style: solid;
    border-color: black;
    border-radius: 3%;
    transform: translate(-50%, -50%);
  }

  #controls
  {
    top: 50%;
    left: 89%;
    width: min(75vh/2, 75*4vw/16);
    height: min(75vh, 75*4vw/8);
    position: fixed;
    border-width: 3px;
    border-style: solid;
    border-color: black;
    border-radius: 3%;
    transform: translate(-50%, -50%);
  }
}